* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
.containers {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.5),
    rgb(255, 255, 255)
  );
}
.primary-part {
  /* border: 1px solid saddlebrown; */
  height: auto;
  position: relative;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 20px 5px rgba(109, 109, 109, 0.4);

  margin: 10px;
}
.borders {
  border-left: 10px rgba(6, 109, 109, 0.4) solid;
}
.child-part {
  /* border: 1px solid rgb(61, 61, 61); */
  position: relative;
  width: 100%;
  height: auto;
  
 
}
.child-part img {
  width: 100%;
}
.primary-part img {
  width: 100%;
}
.child-name {
  position: absolute;
  top: 90%;
  left: 0;
  transform: translate(0, -80%);
  width: 100%;
  padding: 10px 20px;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
  font-weight: bold;
  color: rgb(80, 73, 73);
}
.child-content-1 {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
.child-line {
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: bisque;
}
.child-ct{
  color: rgb(56, 56, 56);
  cursor: pointer;
  text-align: justify;
  overflow: scroll;
  height: 22vh;
  padding: 0px 20px 0px 0px;
 
}
@media screen and (max-width:920px){
  .containers {
      grid-template-columns: 1fr;
    font-size: 16px;
  }

}
@media screen and (max-width:414px){
  .child-name{
    font-size: 12px;
  }
}

/* phần 2 */

.room-child-line{
  width: 100%;
  height: 1px;
  background-color: bisque;
}
.room-child-icon img{
  width: 5%;
}
.room-child-content{
  /* width: 40%; */
}
.room-child-info{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: aqua;
  text-align: center;
}
.room-child-img img{
  width: 100%;
}