* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.containers {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding:60px 0px;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.5),
    rgb(255, 255, 255)
  );
}
.primary-part {
  /* border: 1px solid saddlebrown; */
  height: auto;
  position: relative;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 20px 5px rgba(109, 109, 109, 0.4);
 
}

.child-part {
 
  position: relative;
  width: 100%;
  height: auto;
}
.child-part img {
  width: 100%;
}

.child-name {
  position: absolute;
  top: 90%;
  left: 0;
  transform: translate(0, -80%);
  width: 100%;
  padding: 10px 20px;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
  font-weight: bold;
  color: rgb(80, 73, 73);
}
.child-content-1 {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  
  cursor: pointer;
}
.child-content-1 span {
  font-weight: bold;
  color: rgb(58, 58, 58);
}
.child-content-1 span:hover {
  color: rgb(221, 117, 31);
  transition: 0.4s ease-in-out;
}
.lead{
  text-align: justify;
}
/* .child-fullscreen {
  position: absolute;
  right: 0;
  top: 25%;
} */
/* .child-fullscreen button {
  padding: 3px 10px;
  border: none;
  border-radius: 20%;
  background-color: rgb(29, 129, 133);
  color: white;
} */
/* .child-fullscreen button:hover {
  background-color: rgb(29, 129, 133, 0.8);
  transition: 0.4s ease-in-out;
} */
.child-line {
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: bisque;
 
}
.child-ct {
  color: rgb(56, 56, 56);
  cursor: pointer;
  height: auto;
  overflow: auto;
  text-align: justify;
  padding: 20px;
}
.room-decrip{
  position: relative;
  text-align: justify;
  color: rgb(63, 63, 63);

}
.room-child-room{
  position: relative;
}
.room-child-roomname{
/* position: absolute; */
width: 100%;
text-align: center;
padding: 4px;

font-weight: bold;
color: white;
background-image: linear-gradient(
  to left,
  rgb(19, 142, 214,0.9),
  rgb(13, 95, 172)
  
);
}
@media screen and (max-width: 920px) {
  .containers {
    grid-template-columns: 1fr;
    font-size: 16px;
  }
}
@media screen and (max-width: 414px) {
  .child-name {
    font-size: 12px;
  }
}
/* phan 2 */

/* phần 3 */
