* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  background-color: rgb(11, 113, 145);
  width: 100%;
  min-height: 35vh;
  font-family: cambria;
  justify-content: space-between;
  align-items: center;
  display: flex;

}
.nameIcon{
  color: white;
  text-shadow: 0px 2px 2px rgb(37, 37, 37);
  border: 1px solid white;
  width: 400px;
  padding: 10px 30px;

}
.nameIcon div i{
padding-right: 15px;
color: rgb(255, 255, 255);
text-shadow: 0px 2px 2px rgb(37, 37, 37);
}
